-f https://download.pytorch.org/whl/cu113/torch_stable.html
torch==1.10.2+cu111
torchvision==0.11.3+cu111
torchaudio==0.10.2+cu111
numpy
matplotlib
flake8
ipython
isort
tqdm
seaborn
pytorch-lightning
deepspeed
psutil